<header>
  <div class="text-center">
    <div class="d-inline-block m-4">
      <a href="/products">PRODUCTS</a>
    </div>
    <div class="d-inline-block m-4">
      <a href="/discounts">DISCOUNTS</a>
    </div>
  </div>
</header>