<header>
  <img class="logo position-absolute m-3" src="/images/logo.png">
  <div class="text-center">
    <div class="d-inline-block m-4">
      <a href="/import">IMPORT</a>
    </div>
    <div class="d-inline-block m-4">
      <a href="/logs">LOGS</a>
    </div>
    <div class="d-inline-block m-4">
      <a href="/winners">WINNERS</a>
    </div>
    <div class="d-inline-block m-4">
      <a href="/products">PRODUCTS</a>
    </div>
    <div class="d-inline-block m-4">
      <a href="/logout">LOGOUT</a>
    </div>
  </div>
</header>