header a {
  color: black;
  font-size: 20px; }

header a:hover {
  text-decoration: none;
  color: grey; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle; }
  .input-group-btn span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

input.field {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  flex: none !important;
  width: 300px !important; }

select.product {
  width: 392px !important; }

button.submit-prod {
  margin-left: 150px; }
