<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <h1 class="text-center">Welcome</h1>
    </section>
  </body>
</html>
