<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/_head %>
  </head>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 offset-5 mt-2">
            <h1>All Discounts</h1>
            <ol>
              <% discounts.forEach((discount) => { %>
              <br>
                <li>
                  <ul>
                    <li><strong>ID:</strong> <%= discount.id %></li>
                    <li><strong>Code:</strong> <%= discount.code %></li>
                    <li><strong>Usage Count:</strong> <%= discount.usage_count %></li>
                    <li><strong>Created At:</strong> <%= discount.created_at.substring(0, 10) %></li>
                  </ul>
                </li>
              <% }) %>
            </ol>
            <div class="mt-5 text-center w-25">
              <form action="/discounts/create-discount" method="post">
                <label for="code">New Code Name</label><br>
                <input type="text" name="code"><br>
                <button class="btn btn-primary mt-2" type="submit">Create Discount Code</button>
              </form>
              <br>
              <form action="/discounts/delete-discount" method="post">
                <label for="id">Code ID</label><br>
                <input type="text" name="id"><br>
                <button class="btn btn-danger mt-2 mb-4" type="submit">Delete Code By ID</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
