<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <h4 class="text-center">The Page "<%= url %>" Could Not Be Found<br><br>Or Something Went Wrong</h4>
    </section>
  </body>
</html>
