<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/_head %>
  </head>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 offset-5 mt-2">
            <h1>Imports</h1>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
