<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div style="margin: 0 auto; width: 400px;">
        <h1 class="text-center"><i class="fas fa-upload"></i> Import CSV</h1>
        <form class="mt-4" action="/import_csv/upload" method="POST" enctype="multipart/form-data" data-parsley-validate>
          <h5 class="mt-4">File:</h5>
          <div class="input-group ml-3 mt-3">
            <label class="input-group-btn mb-0">
              <span class="btn btn-primary">
                Browse… <input id="file" type="file" style="display: none;" name="csv" required>
              </span>
            </label>
            <input id="reader" type="text" class="form-control field" readonly="">
          </div>
          <h5 class="mt-4">Product (& Discount Rule):</h5>
          <select class="product ml-3 mt-3 form-control" name="product">
            <% products.forEach((product) => { %>
              <option value="<%= product.id %>"><%= product.name %> - <%= product.discount_rule %></option>
            <% }) %>
          </select>
          <h5 class="mt-4">Discount Code Options:</h5>
          <div>
            <input class="ml-3" type="radio" id="single" name="discount" value="single" required>
            <label class="ml-2" for="single">Single Code for Entire Group</label>
          </div>
          <div>
            <input class="ml-3" type="radio" id="unique" name="discount" value="unique" required>
            <label class="ml-2" for="unique">Unique Code for Each Customer</label>
          </div>
          <button type="submit" class="submit-prod mt-4 btn btn-primary">Upload</button>
        </form>
      </div>
    </section>
    <script>
      $('#file').on('change', () => {
        var value = $('#file').val().substr(12);
        $('#reader').attr('placeholder',value);
      });
    </script>
  </body>
</html>
