<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <header>
      <a href="/dashboard">
        <img class="logo position-absolute m-4 ml-5" src="/images/logo.png">
      </a>
      <div class="text-center mr-4">
        <div class="d-inline-block m-4">
          <a href="/login">LOGIN</a>
        </div>
      </div>
    </header>
    <section class="product mt-5">
      <div class="mt-2 login-container text-center">
        <form action="/login" method="post">
          <label for="username">Username</label><br>
          <input class="form-control" type="text" name="username"><br>
          <label for="password">Password</label><br>
          <input class="form-control" type="password" name="password"><br>
          <button class="btn btn-primary mt-2" type="submit">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>
