<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div class="text-center mt-2">
        <h4 class="ml-5 pl-5 mb-4">That Shopify ID has already been used by another product.</h4>
        <a href="/products/edit"><h4>Please Try Again</h4></a>
      </div>
    </section>
  </body>
</html>
