<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div class="text-center mt-2">
        <h1 class="ml-5 pl-5"><%= title %> Successfully</h1>
      </div>
    </section>
  </body>
</html>
